
@{
    ViewBag.Title = "About";
}


<div class="container">
    <h2>The BlueLight Team</h2><hr />
    <br />
    <div>
        <h5>
            Michelle Taylor
        </h5>
            Developer
        <br />
            mmtaylor3@dmacc.edu
        <br /><br />
    </div>
    <p>
        Michelle is the sole team member of BlueLight Games. She attended DMACC where she received her Business Information Systems
        degree with an object-oriented concentration. She enjoys knitting, playing video games, and spending time with her
        boyfriend, Paul, and elderly cat, Bruce.
    </p>
</div>