@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>Contact</h2><hr />

    <address>
        1100 7th St<br />
        Des Moines, IA 50314<br />
        <abbr title="Phone">P:</abbr>
        (800) 362-2127
    </address>

    <address>
        <strong>Support: </strong><a href="mailto:mmtaylor3@dmacc.edu">mmtaylor3@dmacc.edu</a><br />
    </address>
</div>
